<!DOCTYPE html>
<html>
    <head>
        <title>Mandelbrot Set</title>
        @RenderSection("stylesheets")
    </head>
    <body>
        @RenderBody()
        @RenderSection("scripts")
    </body>
</html>
