<?xml version="1.0" encoding="utf-8" ?>
<combres xmlns='urn:combres'>
  <filters>
    <filter type="Combres.Filters.FixUrlsInCssFilter, Combres" />
  </filters>
  <resourceSets url="~/combres.axd"
                defaultDuration="30"
                defaultVersion="auto"
                defaultDebugEnabled="false"
                defaultIgnorePipelineWhenDebug="true"
                localChangeMonitorInterval="30"
                remoteChangeMonitorInterval="60"
                >
    <resourceSet name="stylesheets" type="css">
      <resource path="~/Content/Stylesheets/Reset.less" />
      <resource path="~/Content/Stylesheets/Layout.less" />
      <resource path="~/Content/Stylesheets/Headings.less" />
    </resourceSet>
    <resourceSet name="scripts" type="js">
      <resource path="~/Scripts/Libraries/jQuery/jquery-1.8.3.js" />
      <resource path="~/Scripts/Libraries/knockout.js/knockout-2.2.0.debug.js" />
      <resource path="~/Scripts/Views/Home/Index.js" />
    </resourceSet>
  </resourceSets>
</combres>
