@{
    ViewBag.Title = "Mandelbrot Set";
}

<section id="mandelbrot-plot">
    <h1>@ViewBag.Title</h1>
    <img id="mandelbrot-canvas" alt="Mandelbrot Set" data-drawing-action-url="@Url.Action("Drawing", "Mandelbrot")" />
</section>

@section scripts
{
    @Html.CombresLink("scripts")
}

@section stylesheets
{
    @Html.CombresLink("stylesheets")
}
