@{
    ViewBag.Title = "Mandelbrot Set";
}

<section id="mandelbrot-plot">
    <h1>@ViewBag.Title</h1>
</section>

@section scripts
{
    @Html.CombresLink("scripts")
}

@section stylesheets
{
    @Html.CombresLink("stylesheets")
}
