@model dynamic

@{
    ViewBag.Title = "Mandelbrot Set";
}

<h2>@ViewBag.Title</h2>

@section scripts
{
    @Html.CombresLink("scripts")
}

@section stylesheets
{
    @Html.CombresLink("stylesheets")
}
